@import 'tailwindcss';

/*
Global
*/

@theme {
  --text-xs: 1.2rem;
  --text-xs--line-height: 1;
  --text-sm: 1.6rem;
  --text-sm--line-height: 1;
  --text-base: 2.4rem;
  --text-base--line-height: 1;
  --text-md: 4.8rem;
  --text-md--line-height: 1;

  --color-black: #000;
  --color-white: #fff;
  --color-navy: #1d1735;
  --color-cream: #fafaf2;
  --color-gold: #8c773e;
  --color-teal: #277c70;
  --color-grey: #eae9e7;

  --spacing-base: 2rem;
  --spacing-md: 3rem;
  --spacing-lg: 6rem;
  --spacing-xl: 8rem;

  --font-primary: 'Apercu Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-secondary: 'Apercu Pro Mono', monospace;
  --font-tertiary: 'Austin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root {
  --underline-offset: 0.17em;
  --underline-thickness: 0.05em;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 10px;
  color: var(--color-navy);
  background: var(--color-white);
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--text-sm);
  font-family: var(--font-primary);
  font-weight: normal;
  line-height: 1;

  @media screen and (min-width: 1024px) {
    font-size: var(--text-base);
  }
}

main {
  background: var(--color-cream);
}

header {
  flex: none;
}

button {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
}

input {
  outline: none;
}

figure {
  margin: 0;
}

/*
Utils
*/

@utility fill-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

@utility media-cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/*
Lazy Loading
*/

img[loading='lazy'] {
  opacity: 0;
  transition: opacity 0.4s;

  &.loaded {
    opacity: 1;
  }
}

/*
Password Form
*/

.password-form {
  text-align: center;

  form {
    width: 350px;
  }

  form > * + * {
    margin-top: 1.6rem;
  }

  form p:first-child {
    font-size: var(--text-base);
    text-align: center;
  }

  form p:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input[type='password'] {
    outline: none;
    box-shadow: none;
    color: black;
    height: auto;
    padding: 1rem;
    border: 2px solid black;
    background-color: var(--white);
    display: block;
    margin-top: 1rem;
    width: 100%;
  }

  form label {
    width: 100%;
  }

  form input[type='submit'] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.4rem;
    border: 1px solid var(--primary-bg);
    text-transform: uppercase;
    font-size: var(--text-base-minus);
    color: var(--primary-bg);
    text-align: center;
    width: 100%;
    margin-top: var(--spacing-base);
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      @media (width >= 1024px) {
        border-style: dotted;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

/*
Landing
*/

.landing {
  h1 svg {
    width: 70vw;
    max-width: 1100px;
  }
}

@keyframes stroke-flow {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -3600;
  }
}

.bg-pattern {
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-55.4%) translateY(-50%);
    height: 145%;
    width: auto;

    & > path {
      stroke-dasharray: 3000 600;
      animation: stroke-flow 12s linear infinite;
    }
  }
}

.news-item {
  a {
    .title {
      span {
        left: 0px;
        transform: translateX(0%);
        position: absolute;
        display: inline-block;
        white-space: nowrap;
        transition:
          transform 0.3s,
          left 0.3s;
      }
    }

    .subtitle {
      span {
        text-decoration: underline;
        text-underline-offset: 0.22em;
        text-decoration-thickness: var(--underline-thickness);
        right: 0px;
        transform: translateX(0%);
        position: absolute;
        display: inline-block;
        white-space: nowrap;
        transition:
          transform 0.3s,
          right 0.3s;
      }
    }

    &:hover {
      .title {
        span {
          transform: translateX(-50%);
          left: 50%;
        }
      }

      .subtitle {
        span {
          transform: translateX(50%);
          right: 50%;
        }
      }
    }
  }
}

.page-modules {
  & > section + section {
    margin-top: var(--spacing-xl);
  }
}

/*
Video Block
*/

def-video {
  display: block;

  .video-container {
    color: white;

    .play {
      transition: none;
      pointer-events: auto;
    }

    &.playing {
      .play {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
      }

      video,
      .video-inner {
        opacity: 1;
      }
    }
  }

  .play-icon {
    width: 48px;
    z-index: 10;
    position: relative;

    @media screen and (min-width: theme('screens.lg')) {
      width: 64px;
    }
  }

  .video-inner {
    iframe {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }

  video,
  .video-inner {
    opacity: 0;
  }

  &.no-poster {
    video,
    .video-inner {
      opacity: 1;
    }
  }

  .play {
    color: var(--color-black);
  }

  &.autoplay {
    video {
      opacity: 1;
    }
  }
}
